
/* Adam Dimech's Plant Breeder's Webfont */
/* http://www.adonline.id.au/fonts/plant-breeders-webfont */

@font-face {
    font-family: 'adonline-PBR';
    src: url('C:/Users\U8011054/OneDrive - USQ/Cloudstor/R/Mungbean_projects/Mungbean_PM/ccs/adonline-pbr-webfont.eot');
    src: url('C:/Users\U8011054/OneDrive - USQ/Cloudstor/R/Mungbean_projects/Mungbean_PM/ccs/adonline-pbr-webfont.eot#iefix') format('embedded-opentype'),
         url('C:/Users\U8011054/OneDrive - USQ/Cloudstor/R/Mungbean_projects/Mungbean_PM/ccs/adonline-pbr-webfont.woff') format('woff'),
         url('C:/Users\U8011054/OneDrive - USQ/Cloudstor/R/Mungbean_projects/Mungbean_PM/ccs/adonline-pbr-webfont.ttf') format('truetype'),
         url('C:/Users\U8011054/OneDrive - USQ/Cloudstor/R/Mungbean_projects/Mungbean_PM/ccs/adonline-pbr-webfont.svg#adonline-pbr') format('svg');
}

.book .book-body .page-wrapper .page-inner section.normal * {
	font-family: 'adonline-PBR';
}


